@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply text-gray-900;
    font-family: 'Open Sans', Arial, sans-serif;
  }
  .key-feature-list{
    font-size: 14px;
  }


}